.NavBar {
  background-color: #007bff;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
}

.NavBar a {
  padding: 0.5em 0;
  width: 10em;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

.NavBar a:hover {
  background-color: rgb(111, 171, 243);
  color: white !important;
}

.NavBar a.active {
  font-weight: bold;
  color: rgb(58, 12, 240);
}
